ion-content{

    --background:#9e3bfb;
    // --background: url(../../../assets/img/home.jpg);
    // --background-repeat: no-repeat;
    // --background-size: cover; 
} 
ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --background: transparent;
  }

  ion-button {
    height: 40px !important;
    border-radius: 10px;
    font-size: 15px;
  }

img{
    display:block;
    margin:auto;
    }

.padre {
    bottom: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 10% 0;
 }
 .hijo {
    padding: 5% 0;
 }
